<div class="container-fluid">

    <h2 class="text-uppercase text-center">Generate short URL from the origin URL</h2>

    <div class="jumbotron col-lg-12">
        <form>
            <div class="row">
                <div class="form-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <label for="originUrl">Enter a valid URL: </label>
                    <input type="url" placeholder="Enter a valid URL" class="form-control" id="originUrl" ng-model="main.originUrl" name="originUrl">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <label for="desiredUrl">Enter your desired URL (optional): </label>
                    <input type="text" placeholder="Enter your desired URL (optional)" class="form-control" id="desiredUrl" ng-model="main.desiredUrl" name="desiredUrl">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1 col-lg-offset-3 col-md-3 col-md-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary" ng-click="main.sendUrls()" ng-disabled="!main.originUrl">Generate short URL</button>
                    <button type="reset" class="btn btn-warning">Clear</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <p ng-show="main.generatedShortUrl && main.generatedShortUrl.length > 0" class="result-link bg-success">
                    <a href="{{ main.generatedShortUrl }}" title="short url" target="_blank" rel="nofollow noopener">{{ main.generatedShortUrl }}</a>
                </p>
                <p ng-show="main.error && main.error.length > 0" class="result-link bg-danger">{{ main.error }}</p>
            </div>
        </div>

    </div>

    <h2 class="text-uppercase text-center">Check your short URL generated before</h2>

    <div class="jumbotron col-lg-12">
        <form>
            <div class="row">
                <div class="form-group col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">Enter a short URL generated before: </label>
                        <div class="input-group">
                            <span class="input-group-addon">{{ main.absUrl }}</span>
                            <input type="text" placeholder="Enter a short URL generated before" class="form-control" id="shortUrl" ng-model="main.shortUrl" name="shortUrl">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1 col-lg-offset-3 col-md-3 col-md-offset-2 col-sm-6">
                    <button type="submit" class="btn btn-primary" ng-click="main.getOriginUrl()" ng-disabled="!main.shortUrl">Get origin URL</button>
                    <button type="reset" class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <p ng-show="main.fullUrl && main.fullUrl.length > 0" class="result-link bg-success">
                    <a href="{{ main.fullUrl }}" title="short url" target="_blank" rel="nofollow noopener">{{ main.fullUrl }}</a>
                </p>
                <p ng-show="main.errorFullUrl && main.errorFullUrl.length > 0" class="result-link bg-danger">{{ main.errorFullUrl }}</p>
            </div>
        </div>

    </div>

</div>
